.bgHome {
  background-color: var(--color01);
  width: 100%;
  display: flex;
  justify-content: center;
  
}

.home {
  max-width: 1200px;
  width: 100%;
  min-height: 80vh;
  display: flex;
  align-items: center;

  position: relative;
  padding: 20px;
  .content {

    
  max-width: 800px;
  width: 100%;
   .title {
     font-size: 5em;
     color: var(--color05);
   }
   p {
     color: aliceblue;
     font-size: 1.5em;
     line-height: 1.3em;
   }
   
 
}


img {
  position: absolute;
  right: 50px;
  bottom: 0;
  max-height: 32vw;
  z-index: 0;
  
 
}
     
  ::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35vw;
    height: 18vw;
    background-color: var(--color05);

    border-top-left-radius: 25vw;
    border-top-right-radius: 25vw;
    
   
   }
  }
  

  @media (max-width:900px) {
    .home {
      flex-direction: column;
      padding-top: 10rem;
      min-height: 70vh;
      ::before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50vw;
        height: 25vw;
        background-color: var(--color05);
    
        border-top-left-radius: 25vw;
        border-top-right-radius: 25vw;
        
       
       }
    }
   
    
    
  }
  

