.bgHome {
  background-color: var(--color01);
  width: 100%;
  display: flex;
  justify-content: center;
}

.home {
  width: 1200px;
  max-width: 100%;
  min-height: 60vh;
  display: flex;
  align-items: center;
  position: relative;
  

  .content {
   padding: 100px;

   .title {
     font-size: 4em;
     color: var(--color05);
   }
   p {
     color: aliceblue;
     font-size: 1.2em;
     line-height: 1.3em;
   }
  }
  .image {
    img {
      position: absolute;
      right: 0;
      bottom: 0;
      max-height: 50vh;
      
     }
  }

  ::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45vh;
    height: 40%;
    background-color: var(--color05);
    border-top-left-radius: 25vw;
    border-top-right-radius: 25vw;
   }
  

}