@import './_events.scss';

%btn {
  position: relative;
  color: hue('dark');
  padding: 10px 20px;
  width: 150px;
  border-radius: 10px;
  box-shadow: 1px 0px 10px -3px black;
  @include slide('bottom', 1.75s)
}

.#{$brand}-btn__button {

  .btn-primary {
    @extend %btn;
    background-color: $primary;
  }

  margin: 10px;


  a {
  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: $dark;
  }

  //   &::before {
  //     content: '';
  //     position: absolute;
  //     background-color: hue('danger');
  //     width: 100%;
  //     height: 100%;
  //     transform: scaleX(0);
  //     transition: transform 0.5s;
  //     transform-origin: right;
  //   }

  //   &:hover {
  //     color: $dark-theme;

  //     &::before {
  //       transform: scaleX(1);
  //       transform-origin: left;
  //     }
  //   }

  //   span,
  //   i {
  //     z-index: 1;
  //   }

  //   i {
  //     position: relative;
  //     background-color: hue('danger');
  //     width: 3px;
  //     height: 30px;
  //     transition: 0.5s, width 0.5s, height 0.5s;
  //     transition-delay: 0s, 0.5s, 1s;
  //   }

  //   &:hover>i {
  //     background-color: hue('dark');
  //     transition-delay: 0s, 0.5s, 1s;
  //     width: 30px;
  //     height: 3px;
  //   }

  //   @mixin animaton($n) {
  //     i::#{$n} {
  //       content: '';
  //       position: absolute;
  //       width: 50%;
  //       height: 2.5px;
  //       top: 0.2px;
  //       border-radius: 5em;
  //       background-color: transparent;
  //       transition-delay: 1s;
  //       transform-origin: right;
  //       transition: 1s;
  //     }
  //   }

  //   @include animaton('after');

  //   &:hover i::after {
  //     transition-delay: 1.5s;
  //     background-color: hue('dark');
  //     rotate: 45deg;
  //   }

  //   @include animaton('before');

  //   &:hover i::before {
  //     transition-delay: 1.0s;
  //     background-color: hue('dark');
  //     rotate: -45deg;
  //   }

  // }

}