.#{$brand}-navbar {
    height: 70px;
    display: flex;
    align-items: center;
    position: relative;
    &__link a {
        @extend %btn;
        border: {
            radius: 20px;
            width: 2.0px;
        }
    }
    &-item--none a {
        border: none;
    }
    @media (max-width: 700px) {
        ul {
            display: none;
        }
        &__icon {
            display: block;
            button {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: change-hue('dark', 'darken', 5);
                width: 50px;
                height: 50px;
                cursor: pointer;
                transition: 0.5s ease-in-out;
                @mixin icon($pseudo, $c, $t, $b, ) {
                    &::#{$pseudo} {
                        content: '';
                        position: absolute;
                        background-color: hue($c);
                        transform: translateY($t);
                        box-shadow: 0 $b hue($c);
                        transition: 0.5s;
                        width: 30px;
                        height: 3px;
                    }
                }
                @include icon('after', 'light', -10px, 10px);
                @include icon('before', 'light', 10px, 00px);
            }
        }
        .#{$brand}-navbar-toggler {
            &--ropdown {
                &::after {
                    background-color: hue('danger');
                    transform: rotate(45deg);
                    box-shadow: none;
                }
                &::before {
                    background-color: hue('danger');
                    transform: rotate(-45deg);
                }
            }
            &--active {
                position: absolute;
                background-color: change-hue('dark', 'lighten', 5);
                display: block;
                right: 0;
                top: 50px;
            }
        }
        &__link {
            border: none;
            padding: 15px;
            a {
                border: none;
                color: hue('light');
            }
            &:hover {
                background-color: change-hue('danger', 'lighten', 5);
            }
        }
    }

}
.teste {
    color: wheat;
    display: flex;
    align-items: center;
    &:hover {
        background-color: red;
    }
}