h1 {
    color: hue('danger');
    font-weight: 800 !important;
}
h2 {
    color: hue('');
    font-weight: 700 !important;
}
h3 {
    color: hue('dark');
    font-weight: 600 !important;
}
h4 {
    color: hue('dark');
    font-weight: 500 !important;
}
p {
    color: hue('secondary');
}

@each $name, $size in $titles {
  .#{$brand}-title--#{$name} {
    font-size: $size;
  }
}
