h1 {
    color: hue('danger');
    font-weight: 800 !important;
    @include slide('right', 1s);
}
h2 {
    color: hue('');
    font-weight: 700 !important;
    @include slide('right', 1.25s);
}
h3 {
    color: hue('dark');
    font-weight: 600 !important;
    @include slide('right', 1.25s);
}
h4 {
    color: hue('dark');
    font-weight: 500 !important;
    @include slide('right', 1.25s);
}
p {
    color: hue('secondary');
    @include slide('left', 1.5s)
    
}

@each $name, $size in $titles {
  .#{$brand}-title--#{$name} {
    font-size: $size;
  }
}
