/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[10].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[10].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[10].use[5]!./src/app/page.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.page_container__sD21Y {
  justify-content: center;
  background-color: var();
}

.page_line__ACkWD {
  background-color: rgb(130, 130, 130);
  height: 100%;
  width: 2px;
  position: absolute;
  z-index: -1;
}

.page_main__uauzD {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0rem;
  min-height: 100vh;
}
.page_main__uauzD h1 {
  color: var(--portfolio-color-5);
  font-size: var(--portfolio-size-1);
}
.page_main__uauzD h2 {
  color: var(--portfolio-color-4);
  font-size: var(--portfolio-size-2);
}
.page_main__uauzD p {
  color: var(--portfolio-color-3);
  font-size: var(--portfolio-size-3);
}
