/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./src/app/components/_ui/Navbar/Navbar.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.Navbar_navbar__VhlxR {
    height: 70px;
    display: flex;
    align-items: center;
}
