
.line {
  background-color: rgb(130, 130, 130);
  height: 100%;
  width: 2px;
  position: absolute;
  z-index: -1;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: right;
  padding: 0rem;
  min-height: 100vh;
}