
.container {
  justify-content: center;
  background-color: var();
}

.line {
  background-color: rgb(130, 130, 130);
  height: 100%;
  width: 2px;
  position: absolute;
  z-index: -1;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0rem;
  min-height: 100vh;
  
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 15px;
  }
}