.navbar {
    .itens {
        display: flex;
        gap: 20px;
        .item {
           
            list-style: none;
           
            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}
@media screen and (max-width: 1000px) { 
    .navbar {
        .itens {
            // display: none !important;
            // gap: 20px;
            // li {
            //     list-style: none;
            // }
        }
    }
}