.#{$brand}-header {
    &__container {
        background-color: hue('light');
        display: flex;
        justify-content: center;
    }

    &__middle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1200px;
        padding: 0px 20px;
    }

    &__logo {
        transition: 0.5s;
        color: hue('dark');
        @include slide('left', 0.5s);
        font: {
            size: 1.5em;
            weight: 600;
        }

        span {
            color: hue('primary');
        }
    }
}

body {
    background-color: red;
  }