/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[14].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[14].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[14].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[14].use[5]!./src/app/sass/app.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.link, .btn {
  padding: 10px 25px;
  overflow: hidden;
  font-family: " monospace";
  font-size: 20px;
  font-weight: 300;
}

.btn {
  position: relative;
  background-color: rgb(55, 55, 55);
  color: white;
}
.btn span {
  position: relative;
  z-index: 1;
}
.btn ::before {
  content: "";
  position: absolute;
  background-color: rgb(195, 21, 21);
  border-radius: 50%;
  top: -2.5em;
  left: -3.5em;
  width: 0;
  height: 0;
  z-index: -1;
  transform: translate(-50%, -50%);
  transition: width 0.7s, height 0.7s;
}
.btn :hover::before {
  width: 500px;
  height: 500px;
  z-index: -1;
}

.link {
  border-width: 2px;
  border-color: rgb(195, 21, 21);
  border-radius: 10px;
}

.navbar {
  height: 70px;
  display: flex;
  align-items: center;
}
