/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[14].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[14].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[14].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[14].use[5]!./src/app/sass/app.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.portfolio-btn__link a, .portfolio-btn__button a {
  position: relative;
  color: #FFFFFF;
  padding: 7px 20px;
}

.portfolio-btn__button a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.portfolio-btn__button a::before {
  content: "";
  position: absolute;
  background-color: #28A745;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transition: transform 0.5s;
  transform-origin: right;
}
.portfolio-btn__button a:hover {
  color: #333;
}
.portfolio-btn__button a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
.portfolio-btn__button a span, .portfolio-btn__button a i {
  z-index: 1;
}
.portfolio-btn__button a i {
  position: relative;
  background-color: #DC3545;
  width: 3px;
  height: 30px;
  transition: 0.5s, width 0.5s, height 0.5s;
  transition-delay: 0s, 0.5s, 1s;
}
.portfolio-btn__button a:hover > i {
  background-color: #343A40;
  transition-delay: 0s, 0.5s, 1s;
  width: 30px;
  height: 3px;
}
.portfolio-btn__button a i::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 2.5px;
  top: 0.2px;
  border-radius: 5em;
  background-color: transparent;
  transition-delay: 1s;
  transform-origin: right;
  transition: 1s;
}
.portfolio-btn__button a i::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 2.5px;
  top: 0.2px;
  border-radius: 5em;
  background-color: transparent;
  transition-delay: 1s;
  transform-origin: right;
  transition: 1s;
}
.portfolio-btn__button a:hover i::after {
  transition-delay: 1.5s;
  background-color: #343A40;
  rotate: 45deg;
}
.portfolio-btn__button a:hover i::before {
  transition-delay: 1s;
  background-color: #343A40;
  rotate: -45deg;
}

.portfolio-btn__link a {
  border-radius: 20px;
  border-width: 1.5px;
}
.navbar {
  height: 70px;
  display: flex;
  align-items: center;
}
.navbar .portfolio-border__none a {
  border: none;
}

.bg-primary {
  background-color: #007BFF;
}

.text-primary {
  color: #007BFF;
}

.bg-secondary {
  background-color: #6C757D;
}

.text-secondary {
  color: #6C757D;
}

.bg-success {
  background-color: #28A745;
}

.text-success {
  color: #28A745;
}

.bg-danger {
  background-color: #DC3545;
}

.text-danger {
  color: #DC3545;
}

.bg-dark {
  background-color: #343A40;
}

.text-dark {
  color: #343A40;
}

.bg-light {
  background-color: #FFFFFF;
}

.text-light {
  color: #FFFFFF;
}

.portfolio-container {
  background-color: #343A40;
  display: flex;
  justify-content: center;
}
.portfolio-container .portfolio-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0px 20px;
}
