/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[14].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[14].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[14].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[14].use[5]!./src/app/sass/app.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.portfolio-btn__button a {
  position: relative;
  background-color: #333;
  color: white;
  padding: 10px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.portfolio-btn__button a::before {
  content: "";
  position: absolute;
  background-color: #0688e4;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transition: transform 0.5s;
  transform-origin: right;
}
.portfolio-btn__button a:hover {
  color: #333;
}
.portfolio-btn__button a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
.portfolio-btn__button a span, .portfolio-btn__button a i {
  z-index: 1;
}
.portfolio-btn__button a i {
  position: relative;
  background-color: #d9e406;
  width: 3px;
  height: 30px;
  transition: 0.5s ease-in-out;
}
.portfolio-btn__button a:hover > i {
  background-color: #333;
  width: 30px;
  height: 3px;
}

.navbar {
  height: 70px;
  display: flex;
  align-items: center;
}
