.grid-container {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-areas: 'left-item right-item';
  align-items: flex-end;
  max-width: 1140px;
  width: 100%;
  height: 100%;
 

  .item-1 {
    grid-area: left-item;
    margin: 1rem;

    .headers {
      margin-top: 5rem;
    }

    .buttons {
      margin: 1rem 0;
      display: flex;
      gap: 30px;
    }
    .caixa {
      background-color: #2196f3;
      width: 350px;
      height: 300px;
      position: relative;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }

      img {
        width: 100%;
        position: absolute;
        bottom: 0;
      }
  }

  .item-2 {
    grid-area: right-item;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    height: 100%;
    .headers {
      height: 100%;
      .right {
        display: flex;
        justify-content: center;
        margin: 20px;
        gap: 10px;
       
      }
    }

   .t {
    position: absolute;
    bottom: 0;
   }
    .caixa {
      background-color: #2196f3;
      width: 350px;
      height: 300px;
      position: relative;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;

      img {
        width: 100%;
        position: absolute;
        bottom: 0;
      }
    }
  }
}

.section-content {
  line-height: 2;
}
.about-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-areas: 'left-item right-item';
  align-items: flex-end;
  max-width: 1140px;
  width: 100%;
  height: 500px;
 
  .item-1 {
    grid-area: left-item;
    margin: 1rem;

    .headers {
      margin-top: 5rem;
    }

    .buttons {
      margin: 1rem 0;
      display: flex;
      gap: 30px;
    }
    .caixa {
      background-color: #2196f3;
      width: 350px;
      height: 300px;
      position: relative;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }

      img {
        width: 100%;
        position: absolute;
        bottom: 0;
      }
  }

  .item-2 {
    grid-area: right-item;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    height: 100%;
    .headers {
      height: 100%;
      .right {
        display: flex;
        justify-content: right;
        
        margin-top: 20px;
        gap: 10px;
       
      }
    
    }

   .t {
    position: absolute;
    bottom: 0;
   }
    .caixa {
      background-color: #2196f3;
      width: 350px;
      height: 300px;
      position: relative;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;

      img {
        width: 100%;
        position: absolute;
        bottom: 0;
      }
    }
  }
  .skills {
    background-color: rgb(244, 244, 244);
    padding: 10px;
    display: flex;
    gap: 10px;

    box-shadow: 0 2px 5px rgba(190, 190, 190, 0.5); /* Sombra branca */
  }
}
  
.section-content {
  line-height: 2;
}

.service-container {
  text-align: center;
  margin: 2.5rem;
 .service-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: 'item-1 item-2 item-3 item-4';
  max-width: 1140px;
  width: 100%;
  gap: 10px;

  .item-1 {
    grid-area: item-1;
    border: 3px solid royalblue;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
  .item-2 {
    grid-area: item-2;
    border: 2px solid royalblue;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .item-3 {
    grid-area: item-3;
    border: 2px solid royalblue;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .item-4 {
    grid-area: item-4;
    border: 2px solid royalblue;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

 }
}

@media screen and (max-width: 1000px) {

  .service-container {
    text-align: center;
    margin: 2.5rem;
   .service-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 'item-1 item-1 item-2 item-2' 'item-3 item-3 item-4 item-4' !important;
    max-width: 1140px;
    width: 100%;
    gap: 10px;
  
    .item-1 {
      grid-area: item-1;
      border: 3px solid royalblue;
      padding: 10px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      
    }
    .item-2 {
      grid-area: item-2;
      border: 2px solid royalblue;
      padding: 10px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .item-3 {
      grid-area: item-3;
      border: 2px solid royalblue;
      padding: 10px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .item-4 {
      grid-area: item-4;
      border: 2px solid royalblue;
      padding: 10px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
   }
  }
  
}
@media screen and (max-width: 900px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr !important;
    grid-template-areas: 'left-item' !important;
    align-items: flex-end;
    max-width: 1140px;
    width: 100%;
    height: 100%;
   
  
    .item-1 {
      grid-area: left-item;
      margin: 1rem;
  
      .headers {
        margin-top: 5rem;
      }
  
      .buttons {
        margin: 1rem 0;
        display: flex;
        gap: 30px;
      }
      .caixa {
        background-color: #2196f3;
        width: 350px;
        height: 300px;
        position: relative;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
      }
  
        img {
          width: 100%;
          position: absolute;
          bottom: 0;
        }
    }
  
    .item-2 {
      grid-area: right-item;
      display: none !important;
      justify-content: center;
      align-items: center;
      position: relative;
      
      height: 100%;
      .headers {
        height: 100%;
        .right {
          display: flex;
          justify-content: center;
          margin: 20px;
          gap: 10px;
         
        }
      }
  
     .t {
      position: absolute;
      bottom: 0;
     }
      .caixa {
        background-color: #2196f3;
        width: 350px;
        height: 300px;
        position: relative;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
  
        img {
          width: 100%;
          position: absolute;
          bottom: 0;
        }
      }
    }
  }
  
}

@media screen and (max-width: 700px) {
  .about-container {
    display: block !important;
    grid-template-columns: 0.5fr 1fr;
    grid-template-areas: 'left-item left-item ';
    align-items: flex-end;
    max-width: 1140px;
    width: 100%;
    height: 100%;
   
    .item-1 {
      grid-area: left-item;
      margin: 1rem;
  
      .headers {
        margin-top: 5rem;
      }
  
      .buttons {
        margin: 1rem 0;
        display: flex;
        gap: 30px;
      }
      .caixa {
        background-color: #2196f3;
        width: 350px;
        height: 300px;
        position: relative;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
      }
  
        img {
          width: 100%;
          position: absolute;
          bottom: 0;
        }
    }
  
    .item-2 {
      grid-area: right-item;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      
      height: 100%;
      .headers {
        height: 100%;
        .right {
          display: flex;
          justify-content: right;
          
          margin-top: 20px;
          gap: 10px;
         
        }
      
      }
  
     .t {
      position: absolute;
      bottom: 0;
     }
      .caixa {
        background-color: #2196f3;
        width: 350px;
        height: 300px;
        position: relative;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
  
        img {
          width: 100%;
          position: absolute;
          bottom: 0;
        }
      }
    }
    .skills {
      background-color: rgb(244, 244, 244);
      padding: 10px;
      display: flex;
      gap: 10px;
  
      box-shadow: 0 2px 5px rgba(190, 190, 190, 0.5); /* Sombra branca */
    }
  }
}