@function hue($name: 'light') {
  @return map-get($map: $palette, $key: $name)
};

@function change-hue($name: light, $type: darken, $amount) {
  $color: hue($name);
  @if $type == darken {
   $color: darken($color, $amount)
  } @else if $type == lighten {
    $color: lighten($color, $amount);
  } @else {
    $color: rgba($name, $amount);
  };
  @return $color;
}

