$primary-color: rgb(238, 63, 0);
$secondary-color: rgb(6, 181, 6);
$tertiary: blue green;
$accent-color-one: #0688e4 !default;
$accent-color-two: #d9e406 !default;
$dark-theme: #333;
$white-text: #FFF;

$primary: #007BFF;
$secondary: #6C757D;
$success: #28A745;
$danger: #DC3545;
$dark: #343A40;
$light: #FFFFFF;
$brand: 'portfolio';

$palette: (
    'primary': #007BFF,
    'secondary': #6C757D,
    'success': #28A745,
    'danger': #DC3545,
    'dark': #343A40,
    'light': #FFFFFF,
);

@mixin property($n, $c) {
    .bg-#{$n} { background-color: $c; }
    .text-#{$n} { color: $c; }
  }
  
  @each $n, $c in $palette {
    @include property($n, $c) 
  }
  