$primary-color: rgb(238, 63, 0);
$secondary-color: rgb(6, 181, 6);
$tertiary: blue green;
$accent-color-one: #0688e4 !default;
$accent-color-two: #d9e406 !default;
$dark-theme: #333;
$white-text: #FFF;
$brand: 'portfolio';
