// Header.module.scss

.heading-1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333; /* Escolha a cor desejada */
    margin-bottom: 1rem;
    /* Adicione mais estilos conforme necessário */
  }
  
  .heading-2 {
    font-size: 2rem;
    font-weight: bold;
    color: #555; /* Escolha a cor desejada */
    margin-bottom: 0.8rem;
    /* Adicione mais estilos conforme necessário */
  }
  .heading-3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #555; /* Escolha a cor desejada */
    margin-bottom: 0.8rem;
    /* Adicione mais estilos conforme necessário */
  }
  
  .paragrafo {
    font-size: 1rem;
    line-height: 1.5;
    color: #777; /* Escolha a cor desejada */
    /* Adicione mais estilos conforme necessário */
    margin-top: 15px;
  }
  

  @media screen and (max-width: 1000px) {
    .heading-1 {
      font-size: 2.0rem;
      font-weight: bold;
      color: #333; /* Escolha a cor desejada */
      margin-bottom: 0.5rem;
      /* Adicione mais estilos conforme necessário */
    }
    
    .heading-2 {
      font-size: 1.5rem;
      font-weight: bold;
      color: #555; /* Escolha a cor desejada */
      margin-bottom: 0.8rem;
      /* Adicione mais estilos conforme necessário */
    }
    .heading-3 {
      font-size: 1rem;
      font-weight: bold;
      color: #555; /* Escolha a cor desejada */
      margin-bottom: 0.8rem;
      /* Adicione mais estilos conforme necessário */
    }
    
    .paragrafo {
      font-size: 0.8rem;
      line-height: 1.5;
      color: #777; /* Escolha a cor desejada */
      /* Adicione mais estilos conforme necessário */
      margin-top: 15px;
    }
    

  }