:root {
    --fontSize01: ;
    --fontSize02: ;
    --fontSize03: ;
    --fontSize04: ;
    --fontSize05: ;
    --fontFamily01: ;
    --fontFamily02: ;
    --fontFamily03: ;
    --fontFamily04: ;
    --fontFamily05: ;
}